$rail-width: 124px;

.writerTextArea {
    // height: 100%;
    transition: background-color 0.5s ease;
}

.writerTextArea.v-input--horizontal {
    grid-template-rows: 100% 0%
}

.writerPunishing .v-field__field {
    background-color: rgb(230, 128, 128);
    transition: background-color 3s ease-in;
}

.v-field__field {
    transition: background-color 0.5s ease;
}

.writerTextArea.writerPunishing {
    background-color: rgb(166, 47, 47);
    transition: background-color 3s ease-in;
}

.settingsCard .v-input__details, .writerTextArea .v-input__details {
    display: none !important
}

.settingsCard .v-card-title {
    font-size: 1.2rem;
    font-weight: 500;
}

.appName {
    color: rgb(77, 0, 140)
}

.wordsMeterNumber {
    font-size: 1.7rem;
    line-height: 1.7rem;
    font-weight: 900;
}

.wordsMeterLabel {
    font-size: .8rem;
    line-height: .7rem;
}

.consequencesSwitch label {
    opacity: 100;
    font-size: 1.5rem;
    font-weight: 900;
}

.consequencesSwitchLabel {
    font-size: .8rem;
    line-height: .7rem;
    font-weight: 700;
}

.gracePeriodMeter {
    font-size: 1.7rem;
    line-height: 1.7rem;
    font-weight: 900;
}

.about-button-container {
    width: $rail-width;
}

.aboutText p {
    padding-bottom: 1rem;
}

.socialLink a {
    text-decoration: none;
}

.sprinterLogo {
    height: 108px;
    width: 108px;
}